<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">

    <title>Testbed 2</title>
</head>
<body>
    <h1>Lightbox Gallery</h1>
    <div class="container">
        <div class="row button-container mb-2">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <button type="button" class="btn btn-outline-success active" data-bs-toggle="button">All</button>
                <button type="button" class="btn btn-outline-success" data-bs-toggle="button">Alive</button>
                <button type="button" class="btn btn-outline-success" data-bs-toggle="button">Not Alive</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="images-container" class="row images-container">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="image-wrapper">
                    <img src="testImages/forest.jpg" class="w-100 shadow-1-strong rounded mb-4 alive" alt="">
                </div>
                <div class="image-wrapper">
                    <img src="testImages/dolphins.jpg" class="w-100 shadow-1-strong rounded mb-4 alive" alt="">
                </div>
                <div class="image-wrapper">
                    <img src="testImages/mountains.jpg" class="w-100 shadow-1-strong rounded mb-4 not-alive" alt="">
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="image-wrapper">
                    <img src="testImages/northernlights.jpg" class="w-100 shadow-1-strong rounded mb-4 not-alive" alt="">
                </div>
                <div class="image-wrapper">
                    <img src="testImages/ravine.jpg" class="w-100 shadow-1-strong rounded mb-4 not-alive" alt="">
                </div>
                <div class="image-wrapper">
                    <img src="testImages/sand.jpg" class="w-100 shadow-1-strong rounded mb-4 not-alive" alt="">
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="image-wrapper">
                    <img src="testImages/volcano.jpg" class="w-100 shadow-1-strong rounded mb-4 not-alive" alt="">
                </div>
                <div class="image-wrapper">
                    <img src="testImages/dolphins.jpg" class="w-100 shadow-1-strong rounded mb-4 alive" alt="">
                </div>
                <div class="image-wrapper">
                    <img src="testImages/northernlights.jpg" class="w-100 shadow-1-strong rounded mb-4 not-alive" alt="">
                </div>
            </div>
        </div>
    </div>

    <div id="lightbox" class="lightbox"></div>


    <script src="lightBox.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>  
</body>
</html>